* {
	box-sizing: border-box;
}
html {
    background: url(img/bg1.jpg) no-repeat center fixed; 
    background-size: cover;
}
.wrap {
	margin: auto;
	max-width: 600px;
}
.card img {
	max-width: 92%;
	margin:4%;
	border-style: solid;
	border-color: #5f9ea0;
	border-width: thick;
	border-radius: 5%;
}
.card {
	max-width: 25%;
	float: left;
	position: relative;
	text-align: center;
}
.card .front {
	position: absolute;
	top:0px;
	left:0px;
	transform: rotateY(180deg);
}
.card .front, .card .back {
	transition: all 0.5s;
	backface-visibility: hidden;
}
.card:hover img {
	opacity: 0.7;
}
.card.flipped .front{
	transform: rotateY(0deg);
}
.card.flipped .back {
	transform: rotateY(180deg);
}
