* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}
.wrap {
	margin: 5% auto;
	width: 300px;
	padding: 5px 20px;
	background-color: #e0ffe0;
}
input[type='text'], input[type='password'] {
	width: 100%;
	padding: 5px;
}
.wrap label {
	padding-bottom: 10px;
}
.gender {
	display: inline;
	float: none;
	cursor: pointer;
}
.wrap select {
	width: 31%;
	padding: 2px;
	height: 30px;
}
.wrap li {
	margin-top: 10px;
}
.wrap ul {
	list-style-type: none;
	padding: 0px;
}
#signup-btn {
	display: block;
	width: 100%;
	text-align: center;
	margin: 20px auto;
	padding: 5px;
	cursor: pointer;
}
