* {
  box-sizing: border-box;
}
.introduce {
  display: flex;
  align-items: center;
  height: 200px;
  /*border: solid 1px #cc9999;*/

}
.introduce-icon {
  width: 20%;
  /*height: 200px;*/
  border-right: solid 1px #cc9999;
  text-align: center;
}
.introduce-icon .fa {
  font-size: 30px;
  vertical-align: middle;
}
.introduce-content {
  padding: 10px;
}
.introduce-content .fa {
  width: 30px;
  font-size: 22px;
}