* {
	box-sizing: border-box;
}

a {
	color: #777;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}

strong {
	color: #336699;
}

.name h5, .name p {
	color: #d2a637;
	font-weight: bold;
}
header {
	background: url(../img/bg5.jpeg) no-repeat center;
	background-size: cover;
	/*min-height: 100vh;*/
}
.title-bg {
    height: 80px;
    background: url(../img/bg.jpg) no-repeat center; 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.title-bg h3 {
	text-transform: uppercase;
	color: #999999;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 80px;
    margin: 0px;
}

/*Header*/
header .info {
	/*background-color: #336699;*/
	/*opacity: 0.7;*/
}
.logo img {
	width: 100%;
}
.searchBox, .contactInfo {
	margin: 5% auto;
}
.contactInfo p {
	color: #fff;
	padding-left: 30%;
}

/*Nav-bar*/
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

#menu .glyphicon {
	font-size: 25px;
	padding-bottom: 2px;
}
#menu .fa {
	font-size: 30px;
}

/*Side Menu*/
.side-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	z-index: 100;
	height: 100%;
	background-color: #f8f8f8;
}
.side-menu .glyphicon {
	font-size: 30px;
}
.side-menu li {
	border-bottom: solid 1px #e7e7e7;
}

/*Carousel style*/
.owl-carousel .col-item {
	border: 1px solid #eeeeee;    
}
.col-item {
    /*border: 2px solid #999999;
    border-radius: 5px;
    background: #FFF;
    position: relative;
}
.col-item:hover {
    /*background-color: rgba(215, 215, 244, 0.5); */
}

.col-item .photo img {
    /*margin: 0 auto;*/
    /*width: 100%;*/
    width: 80%;
    padding: 10% 10% 5% 10%;
    margin: auto;
}
.light {
	background-color: #efefef;
}
.dark {
	background-color: #ffffff;
}
.col-item .info {
    padding: 0 10px 10px 10px;
    background-color: transparent;
    /*border-radius: 0 0 5px 5px;*/
    /*margin-top: 1px;*/
}

.col-item .separator {
    border-top: 1px solid #CC9999;
}
.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.col-item .separator p i {
    margin-right: 5px;
}

.controls {
    margin-top: 25px;
}
.controls a {
	color: #999999;
}

[data-slide="prev"] {
    /*margin-right: 10px;*/
}

.col-double .col-item {
	/*margin-bottom: 10px;*/
}

/*Overlay*/
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow: hidden;
	height: 100%;
	transition: all .5s ease;
	pointer-events: none;
}
.overlay p {
	margin: 5px 15px;
	font-size: 14px;
}
.overlay .name p {
	font-size: 16px;
}

/*Slide-in Overlay*/
.slide-in.overlay {
	left: 100%;
	width: 0;
}
.slide-in.overlay p {
	white-space: nowrap;
}
.slide-in.overlay .btn-add
{
    width: 50%;
    float: left;
    border-right: 1px solid #CC9999;
}
.col-item:hover .slide-in.overlay {
  width: 100%;
  left: 0;
  opacity: 0.9;
}
.slide-in.overlay .info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.overlay .btn-add {
	pointer-events: auto;
}

/*Fade-in Overlay*/
.photo {
	position: relative;
}
.fade-in.overlay {
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}
.photo:hover .overlay {
	opacity: 1;
}

.video .col-item {
	padding: 5px;
}
.video .news {
	max-width: 250px;
	height: 250px;
}
.video .owl-item {
	opacity: 0.5;
}
.owl-item.active.center {
	opacity: 1;
}
.theme img {
	max-width: 100%;
}
.box {
	margin: auto;
	margin-top: 10%;
	width: 70%;
	/*border: dashed 5px rgba(255,255,255,0.2);*/
	border-radius: 50%;
	position: relative;
}
.box::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15%;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.back {
	transition: all 0.5s ease;
	backface-visibility: hidden;
}
.front {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 0.5s ease;
}

.box:hover .back {
	transform: rotateY(180deg);
}
.box:hover .front {
	transform: rotateY(0deg);
}
.content {
	background-color: rgba(255,255,255,0.2);
}
.bg-col {
	padding: 0; 
}
.box-title {
	margin: 5% auto;
	width: 70%;
	border-top: double 5px rgba(255,255,255,0.2);
	border-bottom: double 5px rgba(255,255,255,0.2);
	text-align: center;
	opacity: 0;
	width: 0;
	white-space: nowrap;
}
.box-title h3 {
	color: #fff;
	text-transform: uppercase;
}

/*.box-title {
	transition: all 0.5s ease;
}
.box:hover .box-title {
	width: 70%;
	opacity: 1;
}*/

.slide  {
	position: relative;
}
.slide .controls {
	position: absolute;
	top: 0;
	bottom:0;
	z-index: 100;
	margin: auto;
	height: 40px;
	width: 40px;
	border: solid 2px #999999;
	opacity: 0.2;
	border-radius: 50%;
	text-align: center;
}
.slide .controls a {
	padding: 0;
	height: 36px;
	line-height: 36px;
	/*border: none;*/
}
.slide .pull-left{
	left: 0;
}
.slide .pull-right{
	right: 0;
}
.col-title img {
	/*position: absolute;
	top:0;
	bottom:0;
	margin: auto;*/
	/*display: inline-block;
	vertical-align: middle;*/
	transition: all 0.5s ease;
}
.col-title:hover img {
	transform: scale(1.1);
}
.col-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.col-title h5, .col-title strong {
	font-size: 1.2em;
	text-transform: uppercase;
}
.col-title .tag {
	width: 40%;
	margin-top: 20px;
	text-align: center;
	border-radius: 20px;
	color: #fff;
	background-color: #336699;
}
.tag h5 {
	font-weight: bold;
}
.slide .col-double {
	padding: 0;
}
.slide {
	padding: 0;
}
.col-wrap {
	padding: 0;
}
.col-item.col-title {
	background-color: #e0e0e0;
}
#product .row {
	border-bottom: double 5px #bbbbbb;
}
.info .name, .info .price {
	text-align: center;
}
.col-title .icon {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*position: absolute;*/
	/*right: 10%;*/
	/*bottom: 15%;*/
	text-align: center;
}
.col-title .icon i {
	margin: 0 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(122,122,122,0.3);
}
.col-title .icon i::before {
	height: 40px;
	line-height: 40px;
}
.col-title .info {
	padding: 0;
}
